<.form :let={f} for={@changeset} action={topic_path(@conn, :create)}>
  <div class="form-group">
    <.input field={f[:title]} placeholder="Title" class="form-control" />
  </div>
  <input type="submit" value="Save Topic" class="btn btn-primary" />
</.form>
