<h5><%= @topic.title %></h5>

<div class="input-field">
  <textarea name="" id="" class="materialize-textarea new-comment"></textarea>
  <button class="btn add-comment">Add Comment</button>
  <ul class="collection comments"></ul>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    window.createTopicChannel(<%= @topic.id %>);
  });
</script>
